




<br>
<div id="prof_tags" class="prof_tags">
    <div class="dot"><div class="market"><p>Marketing:{{market_no}}</p></div></div> 
    <div class="dot"><div class="finance"><p>Finance: {{finance_no}}</p></div></div> 
    <div class="dot"><div class="hr"><p>Hr: {{ hr_no}}</p></div></div>
</div>
<br>
<div class="all_contacts">
<button class="btn btn-light"><a href="/contacts">Click to see all contacts</a></button>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-0">
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="lists">
        <div  class="market_block group1">
        <h2>Marketing</h2>
        
        <div class="group">
        {{#each market_arr}}

            <form action="/profile" method="post">
                <input type="text" name="id" value={{this}} style="display: none;">
                <button type="submit">{{this}}</button>
            </form>
        {{/each}}
        </div>
        </div>
        <div style="display:none" class="finance_block group1">
        <h2 >Finance</h2>
        <div class="group">
        {{#each finance_arr}}

            <form action="/profile" method="post">
                <input type="text" name="id" value={{this}} style="display: none;">
                <button type="submit">{{this}}</button>
            </form>
        {{/each}}
        </div>
        </div>

        <div style="display:none" class="hr_block group1">
        <h2>HR</h2>
        <div class="group">
        {{#each hr_arr}}

            <form action="/profile" method="post">
                <input type="text" name="id" value={{this}} style="display: none;">
                <button type="submit">{{this}}</button>
            </form>
        {{/each}}
        </div>
        </div>
    </div>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
</div>

<br><br>
<script>
    $('#test').click(function(){
        $(this).hide();
    })
    $('.market').click(function(){
        $('.group1').hide();
        $('.market_block').show();
    })
    $('.finance').click(function(){
        $('.group1').hide();
        $('.finance_block').show();
    })
    $('.hr').click(function(){
        $('.group1').hide();
        $('.hr_block').show();
    })
</script>